#my_music_canvas{
    border:10px solid;
    margin-top: 70 px;
}

#myCanvas{
    position: absolute;
    margin-top: 120px;
	background-color:ivory;
    border:10px solid;  }
    
.pausebtn {
	position : absolute;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    background-color: transparent;
    top:6.2%;
    left:58%;
}

.dropbtn {
	position : absolute;
    border: none;
    color: white;
    padding: 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    background-color: transparent;
    top:5.2%;
    left:51%;
}
